.feedback>h2 {
    margin-bottom: 32px;
    text-align: center;
}

.feedback-box {
    display: flex;
    gap: 47px;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    min-width: 60px;
    fill: var(--color-purple-500);
}

.arrow:hover {
    fill: var(--color-purple-700);
}

.arrow:active {
    fill: var(--color-purple-900);
}

.arrow.right {
    transform: rotateY(180deg);
}

.list-feedback {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.feedback-item {
    width: 100%;
    min-height: 350px;
    background-color: var(--color-gray-50);
    padding: 32px 43px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.feedback-author::after {
    content: url('../resources/img/feedback.png');
    position: absolute;
    bottom: 40px;
    right: 18px;
}

.feedback-author {
    margin-top: auto;
    color: var(--color-gray-500);
}

@media (max-width: 1536px) {
    .feedback-box {
        gap: 35px;
    }
}

@media (max-width: 1024px) {
    .feedback-box {
        gap: 32px;
    }
}

@media (max-width: 590px) {
    .feedback-box {
        display: grid;
        grid-template-areas: 'listFeedback listFeedback'
                            'arrowLeft arrowRight';
    }

    .feedback-item {
        width: 100%;
        min-height: 150px;
    }

    .arrow {
        min-width: 30px;
    }

    .arrow.left {
        grid-area: arrowLeft;
        justify-self: right;
    }

    .arrow.right {
        grid-area: arrowRight;
    }

    .list-feedback {
        grid-area: listFeedback;
    }
}