.footer {
    padding: 40px 0;
    background-color: var(--color-gray-900);
}

.footer>.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top-footer {
    display: grid;
    grid-template-areas: 'footerleft footerlinks footerphone';
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.top-footer span,
.top-footer a {
    color: var(--color-gray-50);
}

.left-top-footer {
    grid-area: footerleft;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyr {
    display: flex;
    gap: 4px;
    align-items: center;
}

.copyr-text {
    white-space: nowrap;
}

.footer .top-links {
    grid-area: footerlinks;
}

.footer .phone-info {
    grid-area: footerphone;
}

.bottom-footer {
    display: flex;
    gap: 100px;
}

.bottom-footer>span {
    white-space: nowrap;
    text-align: right;
}

.bottom-footer>p {
    text-wrap: balance;
}

.bottom-footer p, .bottom-footer span {
    color: var(--color-gray-600);
}

@media (max-width: 1450px) {
    .top-footer {
        grid-template-areas: 'footerlinks footerlinks'
            'footerleft footerphone';
    }

    .footer .top-links {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .bottom-footer {
        flex-direction: column;
        gap: 8px;
    }

    .bottom-footer>p, .bottom-footer>span {
        text-align: center;
        text-wrap: balance;
    }
}

@media (max-width: 860px) {
    .top-footer {
        grid-template-columns: 1fr;
        grid-template-areas: 'footerlinks'
                            'footerphone'
                            'footerleft';
                            justify-items: center;
    }

    .left-top-footer {
        align-items: center;
    }
}

@media (max-width: 500px) {
    .footer .top-links a {
        font-size: 0.7rem;
    }

    .copyr-text {
        font-size: 0.5rem !important;
    }
}
