.header {
    background-color: var(--color-gray-50);
    position: relative;
    z-index: 10;
}

.header>.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Верхний заголовок */

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;
}

.header-right-menu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.delivery-cost {
    text-align: right;
}

.header-right-menu>hr {
    width: 1px;
    height: 76px;
    background-color: var(--color-purple-400);
}

.phone-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Нижний заголовок */

.header-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--color-gray-50);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-links {
    display: flex;
    gap: 0 24px ;
    user-select: none;
}

.submit-app {
    width: 196px;
    height: 44px;
}

/* Адаптив */
@media (max-width: 1330px) {
    .header>.container {
        gap: 12px;
    }

    .delivery-cost {
        display: flex;
        justify-content: space-around;
        text-wrap: balance;
        gap: 24px;
        text-align: center;
    }

    .nav-links {
        padding: 12px 0;
        border-top: 2px solid var(--color-purple-400);
        border-bottom: 2px solid var(--color-purple-400);
    }
}

@media  (max-width: 758px) {
    .header-right-menu {
        gap: 16px;
    }

    .header-bottom {
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        padding: 0 20px 20px 24px;
    }

    .phone-text:not(.footer-phone) {
        display: none;
    }
}

@media (max-width: 580px) {
    .nav-links {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }

    .top-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .delivery-cost {
        flex-wrap: wrap;
    }
}