@import url('./font.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    /* gray */
    --color-gray-50: #F9FAFB;
    --color-gray-100: #F3F4F6;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #D1D5DB;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7280;
    --color-gray-600: #4B5563;
    --color-gray-700: #374151;
    --color-gray-800: #1F2937;
    --color-gray-900: #111827;

    /* purple */
    --color-purple-50: #F5F3FF;
    --color-purple-100: #EDE9FE;
    --color-purple-200: #DDD6FE;
    --color-purple-300: #C4B5FD;
    --color-purple-400: #A78BFA;
    --color-purple-500: #8B5CF6;
    --color-purple-600: #7C3AED;
    --color-purple-700: #6D28D9;
    --color-purple-800: #5B21B6;
    --color-purple-900: #4C1D95;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Formular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

span, a, li {
    color: var(--color-gray-900);
}

ul {
    list-style: none;
}

a:not(.purple-button):hover {
    color: var(--color-purple-500);
}

a:not(.purple-button):active {
    color: var(--color-purple-800);
}

a:not(.purple-button):focus-visible {
    border-bottom: 2px dashed var(--color-purple-500);
    color: var(--color-purple-500);
}

svg {
    fill: var(--color-purple-400);
}

svg:hover {
    fill: var(--color-purple-500);
}

svg:active {
    fill: var(--color-purple-800);
}

svg:focus-visible {
    fill: var(--color-purple-500);
}

.container {
    width: 100%;
    /* height: 100%; */
    padding: 0px 192px;


    background-color: aqua;


    @media (max-width: 1500px) {
        padding: 0 128px;
    }

    @media (max-width: 1300px) {
        padding: 0 60px;
    }

    @media (max-width: 800px) {
        padding: 0 30px;
    }

    @media (max-width: 550px) {
        padding: 0 20px;
    }
}









.purple-button {
    min-width: 196px;
    min-height: 44px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple-500);
    color: var(--color-gray-50);
}

.purple-button:hover {
    background-color: var(--color-purple-400);
}

.purple-button:active {
    background-color: var(--color-purple-700);
}

.purple-button:focus-visible {
    background-color: var(--color-purple-400);
    outline: 2px dashed var(--color-purple-400);
    outline-offset: 2px;
}