@import url('./font.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    /* gray */
    --color-gray-50: #F9FAFB;
    --color-gray-100: #F3F4F6;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #D1D5DB;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7280;
    --color-gray-600: #4B5563;
    --color-gray-700: #374151;
    --color-gray-800: #1F2937;
    --color-gray-900: #111827;

    /* purple */
    --color-purple-50: #F5F3FF;
    --color-purple-100: #EDE9FE;
    --color-purple-200: #DDD6FE;
    --color-purple-300: #C4B5FD;
    --color-purple-400: #A78BFA;
    --color-purple-500: #8B5CF6;
    --color-purple-600: #7C3AED;
    --color-purple-700: #6D28D9;
    --color-purple-800: #5B21B6;
    --color-purple-900: #4C1D95;
}

body {
    /* max-width: 1920px;
    margin: 0 auto; */
}

/* Применение шрифтов к текстовым элементам */
span, a, li, p, input, textarea,
h1, h2, h3, h4, h5, h6{
    font-family: 'Formular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--color-gray-900);
}

ul {
    list-style: none;
}

/* Нстройка текстовых полей */
input[type="text"], textarea {
    width: 100%;
    height: 48px;
    border: 2px solid var(--color-gray-900);
    border-radius: 4px;
    padding: 12px;
    user-select: none;
}

input[type="text"]::placeholder, textarea::placeholder {
    color: var(--color-gray-400);
}

input[type="text"]:focus, textarea:focus {
    border: 2px solid var(--color-purple-500);
    color: var(--color-purple-500);
}

input[type="text"]:focus::placeholder, textarea:focus::placeholder {
    color: var(--color-purple-500);
}

textarea {
    resize: none;
}

/* Настройка сылок */
a:not(.purple-button):hover {
    color: var(--color-purple-500);
}

a:not(.purple-button):active {
    color: var(--color-purple-800);
}

a:not(.purple-button):focus-visible {
    border-bottom: 2px dashed var(--color-purple-500);
    color: var(--color-purple-500);
}

/* Настройка свг элементов */
svg {
    fill: var(--color-purple-400);
}

svg:hover {
    fill: var(--color-purple-500);
}

svg:active {
    fill: var(--color-purple-800);
}

svg:focus-visible {
    fill: var(--color-purple-500);
}

/* Контейнер  */
.container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 192px;
}

/* Затемнение */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    display: none;
    z-index: 5;
}

/* Фиолетовые кнопки */
.purple-button {
    min-width: 196px;
    min-height: 44px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple-500);
    color: var(--color-gray-50);
    user-select: none;
}

.purple-button:hover {
    background-color: var(--color-purple-400);
}

.purple-button:active {
    background-color: var(--color-purple-700);
}

.purple-button:focus-visible {
    background-color: var(--color-purple-400);
    outline: 2px dashed var(--color-purple-400);
    outline-offset: 2px;
}

/* Адаптив */
@media (max-width: 1500px) {
    .container {
        padding: 0 128px;
    }
}

@media (max-width: 1300px) {
    .container {
        padding: 0 60px;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 550px) {
    .container {
        padding: 0 20px;
    }
}