.main-page {
    padding: 72px 0;
    background-color: var(--color-gray-200);
    display: flex;
    flex-direction: column;
    gap: 72px;
}

/* Основная информация */
.main-hero {
    display: grid;
    grid-template-areas: 'heroInfo shippingCalc';
    gap: 24px;
}

.main-hero-info {
    grid-area: heroInfo;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-wrap: balance;
}

.main-hero-info>img {
    width: 100%;
}

/* Форма заказа */
.main-shipping-calc {
    grid-area: shippingCalc;
    background-color: var(--color-gray-50);
    border-radius: 16px;
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 24px 130px;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

/* Настройка полей */
.enter-data {
    display: grid;
    grid-template-areas: 'gridName gridName'
                        'gridMail gridPhone'
                        'gridSquare gridWeight'
                        'gridCountry gridSityBue'
                        'gridArea gridSityDelivery';
    gap: 24px;
}

.form-input-name {
    grid-area: gridName;
}

.form-input-mail {
    grid-area: gridMail;
}

.form-input-square {
    grid-area: gridSquare;
}

.form-input-country {
    grid-area: gridCountry;
}

.form-input-area {
    grid-area: gridArea;
}

.form-input-phone {
    grid-area: gridPhone;
}

.form-input-weight {
    grid-area: gridWeight;
}

.form-input-sity-bue {
    grid-area: gridSityBue;
}

.form-input-sity-delivery {
    grid-area: gridSityDelivery;
}

/* Адаптив */
@media (max-width: 1536px) {
    .main-form {
        padding: 24px 210px;
    }

    .main-hero {
        grid-template-areas: 'heroInfo'
                            'shippingCalc';
    }

    .main-hero-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

@media (max-width: 1307px) {
    .main-hero-info {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .main-form {
        padding: 24px 100px;
    }
}

@media (max-width: 758px) {
    .main-form {
        padding: 24px 35.5px;
    }
}

@media (max-width: 550px) {
    .main-form {
        padding: 24px 24px;
    }

    .enter-data {        
        grid-template-areas: 'gridName'
                            'gridMail'
                            'gridPhone'
                            'gridSquare'
                            'gridWeight'
                            'gridCountry'
                            'gridSityBue'
                            'gridArea'
                            'gridSityDelivery';
    }
}