.quality-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.quality-info>p {
    max-width: 756px;
}

.list-certificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 36px;
}

.certificate-items {
    max-width: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.certificate-items>img {
    width: 100%;
    max-height: 366px;
}

.certificate-items>span {
    text-align: center;
    text-wrap: balance;
}

.more-document-btn {
    width: 315px;
    height: 56px;
    border-radius: 12px !important;
    justify-self: center;
}

@media (max-width: 856px) {
    .list-certificate {
        justify-content: center;
    }
}